.card{
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(45deg, #e75252, #f12570fa);
  color: aliceblue;
  width: 15rem;
  overflow: hidden;
  padding: 0.75rem;
  height: 22rem;
}
.card:hover{
  transform: scale(1.05);
  transition: 300ms;
  cursor: pointer;
}
.card img{
  width: 80%;
  border-radius: 50%;
  background: rgb(45, 45, 45);
}
.card h2{
  text-align: center;
}

.cards-container{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
body{
  background: rgb(45, 45, 45);
  overflow: hidden;
}

.app header{
  display: flex;
  justify-content: center;
  color: aliceblue;
  margin: 10px;
  background: linear-gradient(45deg, #e75252, #f12570fa);
  border-radius: 1rem;
}
.app header h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}
.app .search-container{
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.app .search-container .search-box{
  height: 2.5rem;
  width: 75%;
  font-size: large;
  padding: 0 1rem;
  outline: none;
}

.scrollable{
  overflow: auto;
  height: calc(100vh - 184px);
}